@import 'colors';
@import 'card';
@import 'utils';

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-VariableFont_wght.ttf');
}

html, body {
    margin: 0;
    height: 100%;
    background-color: $background-color;
    font-family: 'Outfit';
    color: $text-color-main;
}

.page {
    height: 100vh;
}

.profil-picture {
    border: 2px solid white;
    border-radius: 50%;
}
